---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Test página Astro</title>
	</head>
	<body>
        <a href="/">Inicio</a><br>
        <a href="/about/">Sobre mi</a><br>
		<a href="/blog/">Blog</a>
		<h1>Blog</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod natus maxime quo sit alias obcaecati minima voluptatibus eligendi delectus ipsum consectetur odio fugit architecto quidem, quos, voluptatem consequuntur. Eaque, dolorem? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi non possimus illum? Sapiente temporibus, vero maxime fugit quibusdam accusantium ad voluptates necessitatibus culpa amet ea dolorem quae error, maiores ratione! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam recusandae doloremque dolor quas harum quisquam suscipit aut quis iusto nostrum deserunt at eius laboriosam iure voluptas consectetur, maxime provident voluptatem!</p>
	</body>
</html>