---
import Greeting from '../components/Greeting';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Página de inicio";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Mi impresionante subtítulo del blog</h2>
  <!-- lo de abajo no está "hidratado, sea lo que sea que eso signifique" -->
  <!-- <Greeting messages={["Hola", "Qué tal", "Hola a todos"]} /> -->
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
