---
const { frontmatter } = Astro.props;
import BaseLayout from './BaseLayout.astro';
---

<BaseLayout pageTitle={frontmatter.title}>
    <p>Escrito por {frontmatter.author}</p>
    <p>Publidado el {frontmatter.pubDate.toString().slice(0,10)} </p>
    <slot />
</BaseLayout>